#openPopup {
    margin: 20px;
  }

  .add-post {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px;
    justify-content: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
  }

  .add-post img {
    border-radius: 50%;
  }

  .add-post button {
    text-align: left;
    height: 60px;
    border-radius: 30px;
    border: 1px solid gray;
    background-color: white;
    color: gray;
    font-size: 14px;
    padding: 0 15px;
    flex-grow: 1;
  }

  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
  }

  .popup-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 4px;
    width: 80%;
    max-width: 600px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    display: none;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  form {
    display: flex;
    flex-direction: column;
    /*height: 400px;*/
    /*overflow: scroll;*/
  }

  .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  label {
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="file"],
  textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }

  textarea {
    resize: vertical;
    min-height: 100px;
  }

  button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #45a049;
  }